@font-face {
  font-family: "Captains OpenDyslexic";
  src: url("../assets/fonts/OpenDyslexic-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Captains OpenDyslexic";
  src: url("../assets/fonts/OpenDyslexic-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Captains OpenDyslexic";
  src: url("../assets/fonts/OpenDyslexic-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Captains OpenDyslexic";
  src: url("../assets/fonts/OpenDyslexic-Bold-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
